<!DOCTYPE html>
<html lang="es" ng-app="formaPagoApp" ng-controller="FormaPagoController as formaPagoCtrl" ng-cloak>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>A tu estilo</title>

	<!-- ANGULAR -->
	<script src="../js/angular.min.js"></script>

	<!--ENRUTAMIENTO ANGULAR -->
	<script src="../js/angular-route.min.js"></script>

	<!-- Bootstrap Core CSS -->
	<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="../fonts/montserrat.css" rel="stylesheet" type="text/css">
	<link href='../fonts/kaushanscript.css' rel='stylesheet' type='text/css'>
	<link href='../fonts/droidserif.css' rel='stylesheet' type='text/css'>
	<link href='../fonts/robotoslab.css' rel='stylesheet' type='text/css'>

	<!-- Theme CSS -->
	<link href="../css/agency.css" rel="stylesheet">
	<link href="../css/styles.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body id="page-top" class="index" ng-cloak>

	<div id="formaPagoDiv" style="display:block" ng-cloak>
		<div class="container">
			<div class="row">
				<img src="../img/general/technicalerror.jpg" width="200px" class="img-responsive" alt="">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">En este momento el sistema no esta disponible, por favor intenta más tarde</h2>
				</div>
			</div>
		</div>
	</div>
	<div id="formaPago" style="display:none">
		<!-- Navigation -->
		<nav id="mainNav" class="navbar navbar-inverse navbar-purchase navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> Menu <i
						class="fa fa-bars"></i>
				</button>
					<a class="navbar-brand page-scroll" ng-click="formaPagoCtrl.redirectTo()" style="cursor:pointer">{{::formaPagoCtrl.view.pageName}}</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li><a ng-click="formaPagoCtrl.redirectTo()" style="cursor:pointer">INICIO</a>
						</li>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

		<!-- Portfolio Grid Section -->
		<section id="portfolio" class="bg-light-gray">
			<div class="container">
				<div class="row">

					<p>
						<h3>Formas de pago</h3>
					</p>
					<p>
						ATuEstilo quiere brindarte confianza y seguridad a la hora de realizar tus compras por internet, por eso hemos optado por
						pago contra entrega, la modalidad de pago que permite que pagues tus productos una vez los tengas en tus manos, así
						podrás estar seguro de que el producto que solicitaste realmente lo sea y que se encuentra en buen estado.
					</p>
					<p>
						Si no te encuentras en el momento de la entrega, otra persona mayor de edad podrá recibirlo por ti siempre y cuando tenga
						la totalidad del dinero de la compra.
					</p>
					<p>
						La compra debe de ser cancelada en efectivo, no se reciben ningún otro medio de pago como cheques, tarjetas débito o crédito
						o cualquier otro existente.
					</p>
					<p>
						Tratar de tener la cantidad exacta de dinero de la compra, ya que nuestros mensajeros no todas las veces llevan cambio.
					</p>
					<p>
						Contra entrega es la forma de pago preferida de nuestros clientes, compra todo lo que quieras en nuestra web y paga cuando
						lo recibas.
					</p>
				</div>
			</div>
		</section>
		<footer ng-cloak>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<span class="copyright">Correo: atuestiloweb@gmail.com</span>
					</div>
					<div class="col-md-4">
						<ul class="list-inline social-buttons">
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<span class="copyright">Celular: 3217664126</span>
					</div>
				</div>
			</div>
		</footer>

	</div>

	<!-- jQuery -->
	<script src="../vendor/jquery/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="../js/jquery.easing.min.js"></script>

	<!-- Contact Form JavaScript -->
	<script src="../js/jqBootstrapValidation.js"></script>
	<script src="../js/contact_me.js"></script>

	<!-- Theme JavaScript -->
	<script src="../js/agency.min.js"></script>

	<!-- Angular components -->
	<script src="../js/util/categoriesAndSubApp.js"></script>
	<!-- Angular components -->
	<script src="../js/util/constantsApp.js"></script>

	<!-- Angular components -->
	<script src="../js/modules/formaPagoApp.js"></script>
</body>

</html>