<!DOCTYPE html>
<html lang="es" ng-app="purchaseApp" ng-controller="PurchaseController as purchaseCtrl" ng-cloak>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>A tu estilo</title>

	<!-- ANGULAR -->
	<script src="../js/angular.min.js"></script>

	<!--ENRUTAMIENTO ANGULAR -->
	<script src="../js/angular-route.min.js"></script>

	<!-- Bootstrap Core CSS -->
	<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="../fonts/montserrat.css" rel="stylesheet" type="text/css">
	<link href='../fonts/kaushanscript.css' rel='stylesheet' type='text/css'>
	<link href='../fonts/droidserif.css' rel='stylesheet' type='text/css'>
	<link href='../fonts/robotoslab.css' rel='stylesheet' type='text/css'>

	<!-- Theme CSS -->
	<link href="../css/agency.css" rel="stylesheet">
	<link href="../css/styles.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body id="page-top" class="index" ng-cloak>

	<div id="purchaseErrorDiv" style="display:block" ng-cloak>
		<div class="container">
			<div class="row">
				<img src="../img/general/technicalerror.jpg" width="200px" class="img-responsive" alt="">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">En este momento el sistema no esta disponible, por favor intenta más tarde</h2>
				</div>
			</div>
		</div>
	</div>
	<div id="purchase" style="display:none">
		<!-- Navigation -->
		<nav id="mainNav" class="navbar navbar-inverse navbar-purchase navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> Menu <i
						class="fa fa-bars"></i>
				</button>
					<a class="navbar-brand page-scroll" ng-click="purchaseCtrl.redirectTo()" style="cursor:pointer">{{::purchaseCtrl.view.pageName}}</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li><a ng-click="purchaseCtrl.redirectTo()" style="cursor:pointer">INICIO</a>
						</li>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

		<!-- Portfolio Grid Section -->
		<section id="portfolio" class="bg-light-gray">
			<div class="container">
				<div class="row">

					<div class="col-md-3 col-sm-6 portfolio-item" ng-show="purchaseCtrl.portfolioItemsDetail.length > 2">
						<table class="table-purchase">
							<tr>
								<td ng-repeat="portfolioItem in purchaseCtrl.portfolioItemsDetail" class="tr-purchase">
									<a href="{{portfolioItem.modalId}}" class="portfolio-link" data-toggle="modal">
										<div class="portfolio-hover">
											<div class="portfolio-hover-content">
												<i class="fa fa-plus fa-3x"></i>
											</div>
										</div>
										<img src="../{{portfolioItem.image}}" width="250px" class="img-responsive img-portfolio" alt="">
									</a>
								</td>
							</tr>
						</table>
					</div>

					<div class="col-md-4 col-sm-6 portfolio-item" ng-repeat="portfolioItem in purchaseCtrl.portfolioItems">
						<a href="{{portfolioItem.modalId}}" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-plus fa-3x"></i>
								</div>
							</div>
							<img src="../{{portfolioItem.image}}" width="250px" class="img-responsive img-portfolio" alt="">
						</a>
					</div>

					<div class="col-md-4 col-sm-6 portfolio-item" ng-repeat="portfolioItem in purchaseCtrl.portfolioItems">
						<div>
							<h2 class="purchase-item-name">{{portfolioItem.name}}</h2>
							<p class="item-intro text-muted">{{portfolioItem.headerDescription}}</p>
							<ul style="list-style-type:none">
								<li>Ahora
									<h3 style="margin-left:20px">{{portfolioItem.price}}</h3>
								</li>
								<li>Talla
									<ul ng-if="portfolioItem.sizes.length > 0" style="margin-top:10px" class="list-inline">
										<li ng-repeat="size in portfolioItem.sizes">
											<span>{{size.name}}</span>
											<input ng-model="purchaseCtrl.itemSizeSelected" ng-click="purchaseCtrl.itemSizeChanged()" type="radio" name="radio" id="{{size.value}}"
												ng-value="size.value">
											<label for="{{size.value}}"></label>
										</li>
									</ul>
									<h5 style="margin-top:10px;margin-left:20px" ng-if="portfolioItem.sizes.length == 0">Talla única</h5>
								</li>
							</ul>
							<span class="talla-error" ng-hide="purchaseCtrl.isValidToShowPurchasePopup">Selecciona una talla</span>
							<button ng-show="purchaseCtrl.itemSizeSelected === '' && portfolioItem.sizes.length > 0" ng-click="purchaseCtrl.showPurchasePopup(portfolioItem)"
								class="page-scroll btn btn-xl-purchase">Comprar</button>
							<a data-toggle="modal" href="#exito" ng-show="purchaseCtrl.itemSizeSelected !== '' || portfolioItem.sizes.length == 0" class="page-scroll btn btn-xl-purchase">Comprar</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Portfolio Modals -->
		<!-- Use the modals below to showcase details about your portfolio projects! -->

		<!--popups de detalle de prenda -->
		<div ng-repeat="porfolioModaItem in purchaseCtrl.portfolioModalItems" ng-cloak>
			<div ng-cloak class="portfolio-modal modal fade" id="{{porfolioModaItem.id}}" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="close-modal" data-dismiss="modal">
							<div class="lr">
								<div class="rl"></div>
							</div>
						</div>
						<div class="container">
							<div class="row">
								<div class="col-lg-8 col-lg-offset-2">
									<div class="modal-body">
										<img class="img-responsive img-centered img-portfolio-modal" src="../{{porfolioModaItem.image}}" alt="" width="400px">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- POPUP DE CONFIRMACION DE COMPRA -->

		<div class="portfolio-modal modal fade" id="exito" tabindex="-1" role="dialog" aria-hidden="true" ng-cloak>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="close-modal" data-dismiss="modal" ng-hide="purchaseCtrl.purchaseInProgress || purchaseCtrl.purchaseNotFinish || purchaseCtrl.purchaseDone">
						<div class="lr">
							<div class="rl"></div>
						</div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-lg-8 col-lg-offset-2">
								<div class="modal-body" ng-hide="purchaseCtrl.purchaseInProgress || purchaseCtrl.purchaseNotFinish || purchaseCtrl.purchaseDone">
									<!-- Project Details Go Here -->
									<h4>Necesitamos los siguientes datos para hacer el envío</h4>
									<div class="row">
										<div class="col-lg-12">
											<form name="sentMessage" id="contactForm" novalidate>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<input ng-model="purchaseCtrl.customerInfo.name" type="text" class="form-control" placeholder="Nombre *" id="name" required
																data-validation-required-message="Por favor ingresa tu nombre">
															<p class="help-block text-danger"></p>
														</div>
														<div class="form-group">
															<input ng-model="purchaseCtrl.customerInfo.email" type="email" class="form-control" placeholder="Correo *" id="email" required
																data-validation-required-message="Por favor ingresa tu correo.">
															<p class="help-block text-danger"></p>
														</div>
														<div class="form-group">
															<input type="tel" ng-model="purchaseCtrl.customerInfo.phone" class="form-control" placeholder="Teléfono *" id="phone" required
																data-validation-required-message="Por favor ingresa tu teléfono.">
															<p class="help-block text-danger"></p>
														</div>
														<div class="form-group">
															<input type="text" class="form-control" ng-model="purchaseCtrl.customerInfo.address" placeholder="Dirección *" id="address"
																required data-validation-required-message="Por favor ingresa la dirección.">
															<p class="help-block text-danger"></p>
														</div>
														<div class="form-group">
															<textarea class="form-control" ng-model="purchaseCtrl.customerInfo.message" placeholder="Mensaje " id="message"></textarea>
															<p class="help-block text-danger"></p>
														</div>
													</div>
													<div class="clearfix"></div>
													<div class="form-group">
														<button type="submit" class="btn btn-xs-purchase-accept" ng-click="purchase()"><i class="glyphicon glyphicon-ok"></i> Aceptar</button>
														<button type="submit" class="btn btn-xs-purchase-refuse" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Rechazar</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
								<div class="modal-body" ng-show="purchaseCtrl.purchaseInProgress">
									<h1>Realizando la compra...</h1>
									<img class="img-responsive img-centered" src="../img/loading.gif">
								</div>
								<div class="modal-body" ng-show="purchaseCtrl.purchaseNotFinish">
									<h2>Lo sentimos</h2>
									<p class="item-intro text-muted">No pudimos procesar tu compra</p>
									<p>El sistema no pudo procesar tu compra, puedes volverlo a intentar o comunicarte con nosotros a la línea de atención
										al cliente 3217664126 o a nuestro correo electrónico correo o mandarnos un mensaje en el siguiente link <a style="pointer:cursor"
											ng-click="">Contáctanos</a>
									</p>
									<h4>Muchas gracias por tu comprensión</h4>
									<button type="button" class="btn btn-primary" ng-click="purchaseCtrl.returnToHome()"> Volver a inicio</button>
								</div>
								<div class="modal-body" ng-show="purchaseCtrl.purchaseDone">
									<h2>Compra exitosa</h2>
									<p class="item-intro text-muted">Hemos recibido tú solicitud de compra</p>
									<p>Para nosotros es muy importante contar contigo, por eso queremos brindarte toda la confianza y seguridad a la hora
										de realizar tus compras por la página, para lograrlo nos estaremos comunicando contigo para hacer la confirmación
										del pedido.
									</p>
									<h4>Muchas gracias por tu compra</h4>
									<button type="button" class="btn btn-primary" ng-click="purchaseCtrl.returnToHome()"> Volver a inicio</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<footer ng-cloak>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<span class="copyright">Copyright &copy; Your Website 2016</span>
					</div>
					<div class="col-md-4">
						<ul class="list-inline social-buttons">
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="list-inline quicklinks">
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Terms of Use</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

	</div>

	<!-- jQuery -->
	<script src="../vendor/jquery/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="../js/jquery.easing.min.js"></script>

	<!-- Contact Form JavaScript -->
	<script src="../js/jqBootstrapValidation.js"></script>
	<script src="../js/contact_me.js"></script>

	<!-- Theme JavaScript -->
	<script src="../js/agency.min.js"></script>

	<!-- Angular components -->
	<script src="../js/util/categoriesAndSubApp.js"></script>
	<!-- Angular components -->
	<script src="../js/util/constantsApp.js"></script>

	<!-- Angular components -->
	<script src="../js/modules/purchaseApp.js"></script>



</body>

</html>